In [1]:
list1 = []
for i in range(1, 100):
    list1.append(i)
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [2]:
list2 = []
for i in range(101, 200):
    list2.append(i)
print(list2)

[101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199]

In [3]:
# for i in list1:
#     print(i)
list3 = []
for i in range(90, 0, -1):
    print(i)
    list3.append(list1[i]+list2[i])
list3

90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

[282,
 280,
 278,
 276,
 274,
 272,
 270,
 268,
 266,
 264,
 262,
 260,
 258,
 256,
 254,
 252,
 250,
 248,
 246,
 244,
 242,
 240,
 238,
 236,
 234,
 232,
 230,
 228,
 226,
 224,
 222,
 220,
 218,
 216,
 214,
 212,
 210,
 208,
 206,
 204,
 202,
 200,
 198,
 196,
 194,
 192,
 190,
 188,
 186,
 184,
 182,
 180,
 178,
 176,
 174,
 172,
 170,
 168,
 166,
 164,
 162,
 160,
 158,
 156,
 154,
 152,
 150,
 148,
 146,
 144,
 142,
 140,
 138,
 136,
 134,
 132,
 130,
 128,
 126,
 124,
 122,
 120,
 118,
 116,
 114,
 112,
 110,
 108,
 106,
 104]

In [4]:
x = 'hello how are you'
print(x[0:6])

hello

In [5]:
x[-3:]

'you'

In [6]:
x[::-1]

'uoy era woh olleh'

In [7]:
list1 = ['hello', 'how are you', 'bye']
# new_list = []
# for letter in list1:
#     for char in letter:
#         new_list.append(char.upper())
# print(new_list[::-1])
       
for i in range(2, -1, -1):
    print(i)
    print(list1[i])
    
# for i in list1:
#     list1.reverse()
      

    
#     list1[0],list1[2] = list1[2],list1[0]

2
bye
1
how are you
0
hello

In [8]:
my_list = [1, 2, 3, 7, 9, 2, 3]
# set(my_list)
my_list2 = []


for i in range(len(my_list)):
    print(my_list[i])
    if my_list[i] not in my_list2:
        my_list2.append(my_list[i])
    
#     print(my_list[i])
print(my_list2)

1
2
3
7
9
2
3
[1, 2, 3, 7, 9]

In [9]:
def my_func(sub1, sub2):
    if (sub1<40 or sub2<40):
        print('fail')
    elif (sub1>70 and sub2>70):
        print('A grade')
    elif (sub1>40 or sub1<70) or (sub2>40 or sub2<70):
        print('B grade')
my_func(60, 50)

B grade

In [10]:
a = 10
b = 20
if a>15 or b>5:
    print('yes')

yes

In [11]:
True and True and True

True

In [18]:
x = [1, 2, 3, 4, 5]
y = [10, 5, 2, 6, 8]
z = []
for i in range(0, len(x)):
    z.append(x[i]+y[i])
z

[11, 7, 5, 10, 13]

In [26]:
thisset1 = {"apple", "banana", "cherry", "apple"}
thisset1

{'apple', 'banana', 'cherry'}

In [25]:
set1 = {"blue", "kiwi", "puppy"}
set1.add("orange")
set1

{'blue', 'kiwi', 'orange', 'puppy'}

In [28]:
set1 = {"blue", "kiwi", "puppy"}
set2 = {"hii", "hello", "how"}
set1.update(set2)
set1

{'blue', 'hello', 'hii', 'how', 'kiwi', 'puppy'}

In [29]:
set1.remove("kiwi")
set1

{'blue', 'hello', 'hii', 'how', 'puppy'}

In [31]:
set1.discard("kiwi")
set1

{'blue', 'hello', 'hii', 'how', 'puppy'}

In [32]:
set1.pop()
set1

{'blue', 'hello', 'hii', 'how'}

In [34]:
del set1
set1

NameError: name 'set1' is not defined

In [36]:
set1 = {"blue", "kiwi", "puppy"}
for x in set1:
    print (x)

blue
puppy
kiwi

In [39]:
set1 = {"blue", "kiwi", "puppy"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
set3

{1, 2, 3, 'blue', 'kiwi', 'puppy'}

In [40]:
set1 = {1, 2, 3, 4}
set2 = {2, 5, 6, 4}
x = set1.intersection(set2)
x

{2, 4}

In [42]:
dict1 = {"name": "john", "age": 25, "sub": "maths"}
dict1["name"] = "cris"
dict1

{'name': 'cris', 'age': 25, 'sub': 'maths'}

In [44]:
dict1.keys()

dict_keys(['name', 'age', 'sub'])

In [45]:
dict1["color"] = "white"
dict1.keys()

dict_keys(['name', 'age', 'sub', 'color'])

In [46]:
dict1.values()

dict_values(['cris', 25, 'maths', 'white'])

In [47]:
dict1["age"] = 30

In [48]:
dict1.values()

dict_values(['cris', 30, 'maths', 'white'])

In [49]:
dict1.items()

dict_items([('name', 'cris'), ('age', 30), ('sub', 'maths'), ('color', 'white')])

In [51]:
for x in dict1:
    print(x)

name
age
sub
color

In [52]:
for x in dict1.keys():
    print(x)

name
age
sub
color

In [53]:
for x in dict1.values():
    print(x)

cris
30
maths
white

In [54]:
for x, y in dict1.items():
    print(x, y)

name cris
age 30
sub maths
color white

In [56]:
a = 20
b = 55
c = 50
if a>b and a>c:
    print('a')
elif b>c and b>a:
    print('b')
else:
    print('c')

b

In [58]:
#swap two variables
a = 10
b = 6
a = a-b
b = a+b
a = b-a
print(a, b)

6 10

In [59]:
a = 10
b = 6
c = a
a = b
b = c
print(a, b)

6 10

In [68]:
#factorial
num = 5
fact = 1
# if num<0:
#     print("cannot be calculated")
# elif num==1:
#     print('1')
# else:
for i in range(1, num+1):
    fact*=i
print(fact)

120

In [65]:
import math
math.factorial(num)

120

In [67]:
num = 25
if num%2 == 0:
    print(num, 'is even')
else:
    print(num, 'is odd')

25 is odd

In [86]:
#prime numbers
num = 21

for i in range(2, num):
    if (num%i == 0):
        print('not a prime')
        break
else:
    print('prime number')

not a prime

In [88]:
#smallest number

a = 100
b = 20
c = 50
if a<=b and a<=c:
    print('a')
elif b<=c and b<=a:
    print('b')
else:
    print('c')

b

In [94]:
n = 131
reverse = 0
while num!=0:
    reverse = reverse*10 + num%10
    num = (num//10)
print(reverse)

0

In [97]:
word = 'malayalam'
text = word[::-1]
print(word)
print(text)
if word==text:
    print("palindrome")
else:
    print("not palindrome")

malayalam
malayalam
palindrome

In [102]:
num = 12321
temp = num
rev = 0
while(num>0):
    rev = rev*10 + num%10
    num = num//10
print(rev)
if(temp==rev):
    print('palindrome')
else:
    print('not palindrome')

12321
palindrome

In [104]:
str1 = "prathyusha"
ch = 't'
str1.replace(ch, "")

'prahyusha'

In [105]:
str1.count('a')

2

In [108]:
str1 = "johndeo"
count = 0
for i in range(len(str1)):
    if(str1[i]=='o'):
        count += 1
print(count)

2

In [126]:
def vowelorconsonant(x):
    if (x == 'a' or x == 'e'or x == 'i'or x == 'o' or  x == 'u'):
        print('vowel')
    else:
        print('consonant')
vowelorconsonant('c')
vowelorconsonant('e')

consonant
vowel

In [131]:
#digit or not
ch =  a
if ch>=0 and ch<=10:
    print('digit')
else:
    print('not digit')

not digit

In [134]:
str2 = "johny deo leo"
str2.replace(' ', 't')

'johnytdeotleo'

In [146]:
#delete vowels in a string
str1 = "johndeo"
res = ''
for i in str1:
#     print(i)
    if i in ('a', 'e', 'i', 'o', 'u'):
        i = ''
        res += i
print(res)