In [1]:
dict1 = {"1" : "andra", "2": "telangana", "3": "kerala", "4": 'tamilnadu'}

In [2]:
dict1['2']

'telangana'

In [3]:
dict1['5'] = "karnataka"
dict1

{'1': 'andra',
 '2': 'telangana',
 '3': 'kerala',
 '4': 'tamilnadu',
 '5': 'karnataka'}

In [4]:
for keys in dict1.items():
    print(keys)

('1', 'andra')
('2', 'telangana')
('3', 'kerala')
('4', 'tamilnadu')
('5', 'karnataka')

In [5]:
for keys,values in dict1.items():
    if (keys=='2' and values=='telangana'):
        print(keys, values)

2 telangana

In [6]:
for i in range(len(dict1)):
    print(i)

0
1
2
3
4

In [7]:
dict1 = {}
for i in range(1, 5):
    dict1[i]= i*i
        
dict1

{1: 1, 2: 4, 3: 9, 4: 16}

In [8]:
for keys, values in sorted(dict1.items(), reverse=True):
    
    print('key {}, value {}'.format(keys, values))

key 4, value 16
key 3, value 9
key 2, value 4
key 1, value 1

In [9]:
dict1

{1: 1, 2: 4, 3: 9, 4: 16}

In [10]:
sorted(dict1, reverse=True)

[4, 3, 2, 1]

In [11]:
dict1[1]

1

In [12]:
dict1[2]

4

In [13]:
for keys in dict1:
    print(keys, dict1[keys])

1 1
2 4
3 9
4 16

In [14]:

for keys, values in dict1.items():
    if values>5:
        
        del dict1[keys]
dict1

RuntimeError: dictionary changed size during iteration

In [15]:
dict3 = {}
dict4 = {}
for i in range(1, 10):
    dict3[i] = i*i
for i in range(11, 20):
    dict4[i] = i*i
print(dict3)
print(dict4)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}
{11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361}

In [16]:
dict5 = {}
for i in range(len(dict1)):
    print(dict3[i])

KeyError: 0

In [17]:
my_list = []
for i in range(11, 20):
    
    my_list.append(i)
my_list

[11, 12, 13, 14, 15, 16, 17, 18, 19]

In [18]:
for key, value in dict3.items():
    dict5[key*5] = value*5
dict5

{5: 5, 10: 20, 15: 45, 20: 80, 25: 125, 30: 180, 35: 245, 40: 320, 45: 405}

In [19]:
my_dict = {}
for i in range(1, 10):
    my_dict[i] = i+i
my_dict

{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18}

In [21]:
sorted(my_dict, reverse=True)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [22]:
for x in my_dict.values():
    print(x*x)
my_dict

4
16
36
64
100
144
196
256
324

{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18}

In [25]:
dict1 = {1: 1, 4: 10, 3:6, 2: 8}
sorted(dict1)

[1, 2, 3, 4]

In [26]:
d = {0:10, 1:20}
d[2] = 30
d

{0: 10, 1: 20, 2: 30}

In [27]:
d1 = {0: 10, 1: 20}
d2 = {2: 30, 3: 40}
d3 = {4: 50, 5: 60}
d4 = {}
for d in (d1, d2, d3):
    d4.update(d)
d4

{0: 10, 1: 20, 2: 30, 3: 40, 4: 50, 5: 60}

In [29]:
if 6 in d4:
    print('key is exist')
else:
    print('not exist')

not exist

In [30]:
for x in d4.items():
    print(x)

(0, 10)
(1, 20)
(2, 30)
(3, 40)
(4, 50)
(5, 60)

In [32]:
d = {}
n = 5
for i in range(1, n+1):
    d[i] = i*i
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [34]:
d = {}
n = 15
for i in range(1, n+1):
    d[i] = i**2
d

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225}

In [38]:
#merge two dictionaries
d1 = {'a':10, 'b': 20}
d2 = {'c': 30, 'd': 40}
d = d1.copy()
d.update(d2)
d

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [41]:
d = {'red': 1, 'green': 2, 'blue': 3}
for keys, values in d.items():
    print(keys, 'correspond to', values)

red correspond to 1
green correspond to 2
blue correspond to 3

In [42]:
dic = {'a': 20, 'b': 100, 'c': 85}
print(sum(dic.values()))

205

In [48]:
dic = {'a': 20, 'b': 100, 'c': 85}
result = 1
for key in dic:
    result = result * dic[key]
print(result)

170000

In [51]:
#remove a key in a dictionary
my_dict = {'a': 'red', 'b': 'blue', 'c': 'pink'}
if 'a' in my_dict:
    del my_dict['a']
my_dict

{'b': 'blue', 'c': 'pink'}

In [54]:
# my_dict.popitem()

In [55]:
del my_dict['b']
my_dict

{}

In [61]:
#map two lists in a dictionary
keys = ['red', 'green', 'blue']
values = ['12', '23', '45']
dic1 = dict(zip(keys, values))
dic1

{'red': '12', 'green': '23', 'blue': '45'}

In [62]:
#sorting dictionary by key
d1 = {'name': 'john', 'age': 20, 'proffe': 'artist'}
sorted(d1)

['age', 'name', 'proffe']

In [63]:
for key in sorted(d1):
    print(key, d1[key])

age 20
name john
proffe artist

In [69]:
my_dict = {'x':500, 'y':5874, 'z': 560}
print(max(my_dict.keys(),  key=(lambda keys: my_dict[keys])))

y

In [71]:
my_family = {
    'child1': {
        'name': 'john',
        'age': 5
    },
    'child2': {
        'name': 'leo',
        'age': 10
    },
    'child3': {
        'name': 'deo',
        'age': 11
    }
}

In [72]:
my_family

{'child1': {'name': 'john', 'age': 5},
 'child2': {'name': 'leo', 'age': 10},
 'child3': {'name': 'deo', 'age': 11}}

In [75]:
child1 = {'name': 'john', 'age': 5}
child2 = {'name': 'leo', 'age': 10}
child3 = {'name': 'deo', 'age': 11}
my_family = {'child1': child1, 'child2': child2, 'child3': child3}
print(my_family)

{'child1': {'name': 'john', 'age': 5}, 'child2': {'name': 'leo', 'age': 10}, 'child3': {'name': 'deo', 'age': 11}}

In [76]:
my_family['child3']['name']

'deo'

In [77]:
people = {'p1': {'name': 'john', 'age': 20, 'sub': 'maths'},
          'p2': {'name': 'deo', 'age': 25, 'sub': 'social'}}
people

{'p1': {'name': 'john', 'age': 20, 'sub': 'maths'},
 'p2': {'name': 'deo', 'age': 25, 'sub': 'social'}}

In [95]:
people['p1']['marks'] = 90
people['p1']

{'name': 'john', 'age': 20, 'sub': 'maths', 'marks': 90}

In [78]:
people['p1']['sub']

'maths'

In [84]:
people['p3'] = {}
people['p3']['name'] = 'leo'
people['p3']['age'] = 27
people['p3']['sub'] = 'english'
people['p3']['marks'] = '85'
people['p3']

{'name': 'leo', 'age': 27, 'sub': 'english', 'marks': '85'}

In [85]:
people

{'p1': {'name': 'john', 'age': 20, 'sub': 'maths'},
 'p2': {'name': 'deo', 'age': 25, 'sub': 'social'},
 'p3': {'name': 'leo', 'age': 27, 'sub': 'english', 'marks': '85'}}

In [86]:
del people['p3']['marks']
people['p3']

{'name': 'leo', 'age': 27, 'sub': 'english'}

In [90]:
for id, info in people.items():
    print('\nperson id ', id)
    for key in info:
        
        print(key ,info[key] )

person id  p1
name john
age 20
sub maths

person id  p2
name deo
age 25
sub social

person id  p3
name leo
age 27
sub english

In [91]:
del people['p3']

In [92]:
people

{'p1': {'name': 'john', 'age': 20, 'sub': 'maths'},
 'p2': {'name': 'deo', 'age': 25, 'sub': 'social'}}

In [93]:
dic = {'dict1': {'name': 'john', 'age': 25},
       'dict2': {'name': 'deo', 'marks': [25, 35]}}
dic

{'dict1': {'name': 'john', 'age': 25},
 'dict2': {'name': 'deo', 'marks': [25, 35]}}

In [94]:
dic['dict2']['marks'][1]

35