In [1]:
import pandas as pd

In [2]:
a = [1, 2, 3,]
b = [4, 5]
c = [6]

In [120]:
ds = pd.Series([a, b, c])
ds = ds.apply(pd.Series).stack().reset_index(drop=True)
ds

0    python
1      java
2         c
3       4.0
4       5.0
5       6.0
dtype: object

In [30]:
ds.sort_values(ascending=False)

5    6.0
4    5.0
3    4.0
2    3.0
1    2.0
0    1.0
dtype: float64

In [31]:
ds / 2

0    0.5
1    1.0
2    1.5
3    2.0
4    2.5
5    3.0
dtype: float64

In [33]:
ds[ds > 3]

3    4.0
4    5.0
5    6.0
dtype: float64

In [38]:
ds[ds.min()]

2.0

In [41]:
ds.max()

6.0

In [42]:
import numpy as np

In [46]:
ds.idxmin()

0

In [47]:
ds

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
dtype: float64

In [48]:
ds.idxmax()

5

In [53]:
ds[ds == 3].index[0]

2

In [54]:
a = ['python', 'java', 'c']
ds1 = pd.Series(a)
ds1

0    python
1      java
2         c
dtype: object

In [55]:
ds2 = ds1.apply(len)

In [56]:
ds2

0    6
1    4
2    1
dtype: int64

In [59]:
def name_len(name):
    return name, len(name)
    
name_len('python')

('python', 6)

In [60]:
ds2 = ds1.apply(name_len)

In [61]:
ds2

0    (python, 6)
1      (java, 4)
2         (c, 1)
dtype: object

In [63]:
df = pd.DataFrame(ds2)
df

             0
0  (python, 6)
1    (java, 4)
2       (c, 1)

In [ ]:
df['language'] = df

In [64]:
df[0]

0    (python, 6)
1      (java, 4)
2         (c, 1)
Name: 0, dtype: object

In [65]:
df[0][0]

('python', 6)

In [83]:
lang = []
leng = []
for key, value in df.iterrows():
    lang.append(value[0][0])
    leng.append(value[0][1])
lang

['python', 'java', 'c']

In [85]:
df['language'] = lang
df

             0    lang  len language
0  (python, 6)  python    6   python
1    (java, 4)    java    4     java
2       (c, 1)       c    1        c

In [103]:
df.index=['a', 'b', 'c']
df

             0    lang  len language      ls
a  (python, 6)  python    6   python  python
b    (java, 4)    java    4     java    java
c       (c, 1)       c    1        c       c

In [95]:
for i in range(len(df)):
#     print(df.iloc[i][0][0])
    df.at[i, 'ls'] = df.iloc[i][0][0]

In [104]:
df.loc['a']

0           (python, 6)
lang             python
len                   6
language         python
ls               python
Name: a, dtype: object

In [105]:
df.iloc[0, :]

0           (python, 6)
lang             python
len                   6
language         python
ls               python
Name: a, dtype: object

In [80]:
df['lang'] = [ value[0][0]  for key, value in df.iterrows() ]

In [81]:
df

             0    lang
0  (python, 6)  python
1    (java, 4)    java
2       (c, 1)       c

In [82]:
df['len'] = [ value[0][1]  for key, value in df.iterrows() ]
df

             0    lang  len
0  (python, 6)  python    6
1    (java, 4)    java    4
2       (c, 1)       c    1

In [106]:
df

             0    lang  len language      ls
a  (python, 6)  python    6   python  python
b    (java, 4)    java    4     java    java
c       (c, 1)       c    1        c       c

In [118]:
for i in df.index:
    print(i)
    print(df.loc[i, 'lang':])

a
lang        python
len              6
language    python
ls          python
Name: a, dtype: object
b
lang        java
len            4
language    java
ls          java
Name: b, dtype: object
c
lang        c
len         1
language    c
ls          c
Name: c, dtype: object

In [117]:
for i in range(len(df)):
    print(df.iloc[i, 1:])

lang        python
len              6
language    python
ls          python
Name: a, dtype: object
lang        java
len            4
language    java
ls          java
Name: b, dtype: object
lang        c
len         1
language    c
ls          c
Name: c, dtype: object