In [1]:
my_dict = {}
for i in range(10, 1, -1):
    my_dict[i] = i*i
my_dict

{10: 100, 9: 81, 8: 64, 7: 49, 6: 36, 5: 25, 4: 16, 3: 9, 2: 4}

In [2]:
for x,y in my_dict.items():
    if y>50:
        del my_dict[x]

In [3]:
import random
dict1 = {}
for i in range(1, 10):
    dict1[i] = random.randint(10, 15)
dict1

{1: 10, 2: 10, 3: 12, 4: 10, 5: 12, 6: 13, 7: 11, 8: 14, 9: 13}

In [42]:
sorted(dict1.values())

[10, 10, 10, 11, 12, 12, 13, 13, 14]

In [6]:
for key, value in sorted(dict1.items(), reverse=True):
    print(key, value)

9 13
8 14
7 11
6 13
5 12
4 10
3 12
2 10
1 10

In [9]:
keys = ['a', 'b', 'c']
values = ['10', '20', '30']

dict2 = dict(zip(keys, values))
dict2

{'a': '10', 'b': '20', 'c': '30'}

In [11]:
dict3 = {}
dict3

{}

In [14]:
if dict3: 
    print('not empty')
else:
    print('empty')

empty

In [15]:
if dict2:
    print('not empty')
else:
    print('empty')

not empty

In [55]:
my_dict1 = {}

for i in range(1, 10):
    
    my_dict1[i] = random.sample(range(1, 100), 10)
    
my_dict1

{1: [41, 4, 10, 21, 81, 42, 31, 66, 5, 69],
 2: [96, 44, 76, 23, 88, 73, 28, 87, 24, 17],
 3: [44, 75, 45, 69, 12, 95, 81, 33, 60, 61],
 4: [34, 7, 96, 25, 45, 11, 20, 94, 86, 68],
 5: [6, 29, 88, 58, 80, 81, 96, 49, 53, 71],
 6: [74, 48, 99, 15, 7, 76, 62, 95, 67, 77],
 7: [96, 59, 98, 5, 30, 55, 90, 2, 68, 44],
 8: [54, 2, 15, 87, 47, 97, 39, 53, 27, 52],
 9: [16, 97, 10, 41, 20, 19, 17, 59, 15, 38]}

In [56]:
my_list = random.sample(range(1, 100), 10)
my_list.sort()
my_list

[11, 16, 18, 30, 38, 43, 49, 67, 79, 90]

In [58]:
for x, y in my_dict1.items():
    if (x % 2 != 0):
        my_dict1[x].sort()

In [59]:
my_dict1

{1: [4, 5, 10, 21, 31, 41, 42, 66, 69, 81],
 2: [96, 44, 76, 23, 88, 73, 28, 87, 24, 17],
 3: [12, 33, 44, 45, 60, 61, 69, 75, 81, 95],
 4: [34, 7, 96, 25, 45, 11, 20, 94, 86, 68],
 5: [6, 29, 49, 53, 58, 71, 80, 81, 88, 96],
 6: [74, 48, 99, 15, 7, 76, 62, 95, 67, 77],
 7: [2, 5, 30, 44, 55, 59, 68, 90, 96, 98],
 8: [54, 2, 15, 87, 47, 97, 39, 53, 27, 52],
 9: [10, 15, 16, 17, 19, 20, 38, 41, 59, 97]}

In [60]:
my_dict1

{1: [4, 5, 10, 21, 31, 41, 42, 66, 69, 81],
 2: [96, 44, 76, 23, 88, 73, 28, 87, 24, 17],
 3: [12, 33, 44, 45, 60, 61, 69, 75, 81, 95],
 4: [34, 7, 96, 25, 45, 11, 20, 94, 86, 68],
 5: [6, 29, 49, 53, 58, 71, 80, 81, 88, 96],
 6: [74, 48, 99, 15, 7, 76, 62, 95, 67, 77],
 7: [2, 5, 30, 44, 55, 59, 68, 90, 96, 98],
 8: [54, 2, 15, 87, 47, 97, 39, 53, 27, 52],
 9: [10, 15, 16, 17, 19, 20, 38, 41, 59, 97]}

In [61]:
list(range(1, 10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [65]:
for keys, values in my_dict1.items():
    for i in values:
        if i==keys:
            print(keys, i)

In [66]:
my_dict1

{1: [4, 5, 10, 21, 31, 41, 42, 66, 69, 81],
 2: [96, 44, 76, 23, 88, 73, 28, 87, 24, 17],
 3: [12, 33, 44, 45, 60, 61, 69, 75, 81, 95],
 4: [34, 7, 96, 25, 45, 11, 20, 94, 86, 68],
 5: [6, 29, 49, 53, 58, 71, 80, 81, 88, 96],
 6: [74, 48, 99, 15, 7, 76, 62, 95, 67, 77],
 7: [2, 5, 30, 44, 55, 59, 68, 90, 96, 98],
 8: [54, 2, 15, 87, 47, 97, 39, 53, 27, 52],
 9: [10, 15, 16, 17, 19, 20, 38, 41, 59, 97]}

In [75]:
my_dict2 = {'a': 10, 'b': 20, 'c': 30}
list(my_dict2.keys())
list(my_dict2.values())

[10, 20, 30]

In [77]:
list1 = []
for i in range(1, 11):
    list1.append(i)
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [92]:
a = list1[0:2]
a

[1, 2]

In [105]:
dict1 = {}
for i in range(0, 5):
    print(i, i+2)
    y = i+2
    dict1[i] = list1[-y:]
dict1

0 2
1 3
2 4
3 5
4 6

{0: [9, 10],
 1: [8, 9, 10],
 2: [7, 8, 9, 10],
 3: [6, 7, 8, 9, 10],
 4: [5, 6, 7, 8, 9, 10]}

In [112]:
x = [i for i in range(1, 11) if i%2 == 0 ]
x

[2, 4, 6, 8, 10]

In [113]:
x = [i*i for i in range(1, 10)]
x

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [116]:
x = ['even' if i%2 ==0 else 'odd' for i in range(10)]
x

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [126]:
num_list = [x for x in range(100) if x%2 ==0 if x%5 ==0]
num_list

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [122]:
x = list(map(lambda i: i*10, [i for i in range(1,10)]))
x

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [123]:
letter = [ch for ch in 'Python']
letter

['P', 'y', 't', 'h', 'o', 'n']

In [124]:
str1 = [string[::-1] for string in "Hello World"]
str1

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

In [125]:
num = [i for i in range(100) if i%5 == 0 and i%10 ==0]
num

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]